<link rel="stylesheet" href="/styles/partialStyle/footer.css">
<footer class="footer">
  <div class="footer-content">
      <div class="footer-col">
          <h3>MeetTheMakers</h3>
          <p>A global marketplace for unique, handmade items. We connect creative makers with customers looking for something special.</p>
      </div>
      <div class="footer-col">
          <h3>Quick Links</h3>
          <ul>
              <li><a href="/about">About Us</a></li>

          </ul>
      </div>
      <div class="footer-col">

          </ul>
      </div>
  </div>
  <div class="social-links">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-pinterest-p"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="copyright">
      <p>© 2024 MeetTheMakers. All rights reserved. | Designed with <span class="heart">❤</span> by the MeetTheMakers team.</p>
  </div>
</footer>